/*Media Queries*/

/* Media Queries 1220px */
@media screen and (max-width: 1220px) {
  .home-image-container {
    width: 50%;
    height: 67%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .home-text-container {
    width: 50%;
    height: 67%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;
    padding-right: 8%;
  }

  .home-image-container img {
    width: 48%;
    height: 48%;

    object-fit: cover;
    object-position: center;
    transition: 0.6s;
    cursor: pointer;
  }

  .home-text-content-heading {
    font-weight: 600;
    width: 100%;
  }

  .home-text-content-subheading {
    width: 100%;
    color: #3593ff;
  }

  .home-text-content-heading span {
    color: #e0e0e0;
  }

  .home-text-content-intro-text {
    margin-top: 10px;
    font-size: 16px;
    color: #b3b3b3;
    width: 100%;
  }

  .home-content-buttons {
    margin-top: 4vh;
    width: 100%;
    height: 5vh;
  }

  .home-buttons-label {
    color: #0f0f0f;
  }

  .home-content-buttons button {
    width: 19vh;
    height: 100%;
    color: #121212;
    font-size: 16px;
    border: none;
    font-weight: 600;
    cursor: pointer;
  }

  .home-content-buttons .btn2 {
    background-color: transparent;
    border: 2px solid #3593ff;
    color: #1a1a1a;
    background-color: #3593ff;
    transition: opacity all ease 0.6s;
  }

  .home-content-buttons .btn2:hover {
    opacity: 0.6;
  }
}

/* Media Queries 860px */
@media screen and (max-width: 860px) {
  /*hamburger menu*/

  .hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /*Home Contents*/

  /*homepage*/
  #home {
    background: url("bg-gapol-transpa-01.png") no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-items: center;
  }

  .home-container {
    height: 90vh;
    width: 100%;
    color: #b3b3b3;
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5%;
  }

  .home-image-container {
    width: 100% !important;
    height: 40% !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    gap: 15px;
  }

  .home-text-container {
    margin-top: 30px;
    width: 100% !important;
    height: 50% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;
    padding-right: 0;
  }

  .home-image-container img {
    width: 48% !important;
    height: 50% !important;

    object-fit: cover;
    object-position: center;
    transition: 0.6s;
    cursor: pointer;
  }

  .home-text-content-heading {
    font-size: 40px !important;
    font-weight: 600;
    width: 100%;
  }

  .home-text-content-subheading {
    font-size: 24px;
    width: 100%;
    color: #3593ff;
  }

  .home-text-content-heading span {
    color: #e0e0e0;
  }

  .home-text-content-intro-text {
    margin-top: 10px;
    font-size: 16px;
    color: #b3b3b3;
    width: 100%;
  }

  .home-content-buttons {
    margin-top: 4vh;
    width: 100%;
    height: 5vh;
  }

  .home-buttons-label {
    color: #0f0f0f;
  }

  .home-content-buttons button {
    width: 19vh;
    height: 100%;
    color: #121212;
    font-size: 16px;
    border: none;
    font-weight: 600;
    cursor: pointer;
  }

  .home-content-buttons .btn2 {
    background-color: transparent;
    border: 2px solid #3593ff;
    color: #1a1a1a;
    background-color: #3593ff;
    transition: opacity all ease 0.6s;
  }

  .home-content-buttons .btn2:hover {
    opacity: 0.6;
  }

  /*Home Content End*/

  /*navigation content*/
  a[data-tooltip] {
    position: relative;
    padding-right: 5px;
  }
  a[data-tooltip]::after {
    display: none;
  }
  a[data-tooltip]:hover::after {
    opacity: 0;
  }

  .main-header .nav-links {
    position: fixed;
    left: -100%;
    width: 50%;
    display: block;
    height: 100vh;
    top: 10vh;
    background: #000000ef;
    backdrop-filter: blur(10px);
    transition: left 0.3s ease;
    padding: 0px 0px;
    z-index: 4;
  }

  .nav-links ul {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 5vh;
    height: 90%;
  }
  .nav-links ul li {
    display: flex;
    list-style: none;
    cursor: pointer;
    height: 6vh;
    width: 100%;
    justify-content: start;
  }
  .nav-links ul li:hover a {
    color: #e0e0e0;
    background-color: #2a2a2a;
  }
  .nav-links ul li a {
    text-decoration: none;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
    width: 100%;
    margin-left: 0;
    padding-left: 20px;
    padding-right: 0;
    color: #444444;
  }
  .nav-links ul li i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .nav-links ul li a p {
    display: block;
  }

  .hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-links footer {
    display: flex;
    font-size: 12px;
  }

  /*about*/

  .about-container {
    margin-top: 3vh;
    height: 95%;
    width: 100%;

    border-radius: 12px;
    color: #b3b3b3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }

  .about-image-section {
    height: 40%;
    width: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 12px;
  }

  .about-text-section {
    width: 100%;
    height: 58%;
  }

  .about-heading {
    font-size: 32px;
    font-weight: 600;
    width: 100%;
  }

  .about-subheading {
    font-size: 12px;
  }
}

/* Media Queries 580px */
@media screen and (max-width: 580px) {
  /*nav contents - logo sec*/

  .logo-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text-logo {
    width: 200px;
    height: 100%;
    margin-left: 5px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: #3593ff;
  }
  /*Home Contents*/

  /*homepage*/
  #home {
    background: url("bg-gapol-transpa-01.png") no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-items: center;
  }

  .home-container {
    padding-top: 10vh !important;
    height: 100vh;
    width: 100%;
    color: #b3b3b3;
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5%;
  }

  .home-image-container {
    width: 100% !important;
    height: 67%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    gap: 15px;
  }

  .home-text-container {
    width: 100% !important;
    height: 67%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: start;
    padding-top: 5%;

    margin-top: 30px;
    padding-right: 0;
  }

  .home-image-container img {
    width: 32%;
    height: 32%;

    object-fit: cover;
    object-position: center;
    transition: 0.6s;
    cursor: pointer;
  }

  .home-text-content-heading {
    font-size: 33.5px !important;
    font-weight: 600;
    width: 100%;
  }

  .home-text-content-subheading {
    font-size: 20px;
    width: 100%;
    color: #3593ff;
  }

  .home-text-content-heading span {
    color: #e0e0e0;
  }

  .home-text-content-intro-text {
    margin-top: 10px;
    font-size: 14px;
    color: #b3b3b3;
    width: 100% !important;
  }

  .home-content-buttons {
    margin-top: 4vh;
    width: 100%;
    height: 5vh;
  }

  .home-buttons-label {
    color: #0f0f0f;
  }

  .home-content-buttons button {
    width: 100%;
    height: 100%;
    color: #121212;
    font-size: 16px;
    border: none;
    font-weight: 600;
    cursor: pointer;
  }

  .home-content-buttons .btn2 {
    background-color: transparent;
    border: 2px solid #3593ff;
    color: #1a1a1a;
    background-color: #3593ff;
    transition: opacity all ease 0.6s;
  }

  .home-content-buttons .btn2:hover {
    opacity: 0.6;
  }

  /*Home Content End*/
  .about-heading {
    font-size: 38px !important;
    font-weight: 600;
    width: 100%;
  }

  .skills-tab-content.active-tab-content {
    display: flex; /* Display only the active tab content */
    height: max-content;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .about-tab-content {
    width: 100%;
    height: max-content;

    display: flex;
  }

  #about {
    padding: 40px;
    background-color: #121212;
    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .about-subheading {
    width: 100%;
    height: max-content;
    padding-bottom: 10px;
    font-size: 16px;
  }

  .about-container {
    margin-top: 3vh;
    height: 100%;
    width: 100%;

    border-radius: 12px;
    color: #b3b3b3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }

  /*about tabs*/

  .about-tabs {
    height: 29vh;
    width: 100%;
  }

  .about-tab-titles {
    font-size: 14px;
    height: 15%;
    display: flex;
    flex-direction: row;

    gap: 20px;
  }

  .tabtitle {
    padding: 3px 0;
    position: relative;
    cursor: pointer;
    transition: 0.4s;
    z-index: 2;
  }

  .tabtitle::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #3593ff;
    transition: 0.4s;
  }

  .tabtitle.default-active-tab-title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 90%;
    height: 2px;
    background-color: #3593ff;
    transition: 0.4s;
  }

  .tabtitle.default-active-tab-title {
    color: #3593ff;
  }

  .tabtitle:hover::before {
    width: 90%;
    color: #3593ff;
  }

  .tabtitle:hover {
    color: #3593ff;
  }

  .about-tab-content {
    width: 100%;
    height: 240px;

    display: flex;
  }
  .skills-tab-content,
  .experience-tab-content,
  .education-tab-content {
    display: none; /* Hide all tab contents by default */
  }

  .skills-tab-content.active-tab-content {
    display: flex; /* Display only the active tab content */
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    padding-top: 20px;
  }

  .skill-bar-all {
    width: 100%;
    height: 40px;
    display: flex;
  }

  .skill-container-all {
    width: 100%;
    height: 100%;
    padding-left: 10px;
  }

  .tool-icon1 {
    background: url("illustrator.png") no-repeat;
    background-position: center;
    background-size: cover;
    width: 40px;
    height: 40px;
  }

  .tool-icon2 {
    background: url("photoshop.png") no-repeat;
    background-position: center;
    background-size: cover;
    width: 40px;
    height: 40px;
  }

  .tool-icon3 {
    background: url("figma.png") no-repeat;
    background-position: center;
    background-size: cover;
    width: 40px;
    height: 40px;
  }

  .tool-icon4 {
    background: url("indesign.png") no-repeat;
    background-position: center;
    background-size: cover;
    width: 40px;
    height: 40px;
  }

  .skill-bar-heading {
    height: max-content;
    width: 100%;
    font-size: 12px;
  }

  .skill-bar-container {
    background-color: #383838;
    border-radius: 5px;
    height: 6px;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .skill1 {
    height: 100%;
    width: 65%;
    background-color: rgb(255, 182, 24);
    border-radius: 5px;
    animation: skillProgress 2s ease forwards; /* Apply animation */
  }

  @keyframes skillProgress {
    from {
      width: 0%;
    } /* Start from 0% width */
    to {
      width: 65%;
    } /* End at 65% width (change according to your desired percentage) */
  }

  .skill2 {
    height: 100%;
    width: 40%;
    background-color: rgb(24, 97, 255);
    border-radius: 5px;
    animation: skillProgress2 2s ease forwards; /* Apply animation */
  }

  @keyframes skillProgress2 {
    from {
      width: 0%;
    } /* Start from 0% width */
    to {
      width: 40%;
    } /* End at 65% width (change according to your desired percentage) */
  }

  .skill3 {
    height: 100%;
    width: 56%;
    background-color: rgb(236, 24, 255);
    border-radius: 5px;
    animation: skillProgress3 2s ease forwards; /* Apply animation */
  }

  @keyframes skillProgress3 {
    from {
      width: 0%;
    } /* Start from 0% width */
    to {
      width: 56%;
    } /* End at 65% width (change according to your desired percentage) */
  }

  .skill4 {
    height: 100%;
    width: 75%;
    background-color: rgb(255, 24, 82);
    border-radius: 5px;
    animation: skillProgress4 2s ease forwards; /* Apply animation */
  }

  @keyframes skillProgress4 {
    from {
      width: 0%;
    } /* Start from 0% width */
    to {
      width: 75%;
    } /* End at 65% width (change according to your desired percentage) */
  }

  .percentage {
    margin-left: 10px;
    border-radius: 3px;
    padding: 3px 5px;
    font-size: 12px;
    background-color: rgb(27, 27, 27);
  }

  .experience-tab-content.active-tab-content {
    display: flex; /* Display only the active tab content */
    height: 100%;
    width: 100%;
    flex-direction: row;
    align-items: center;
    background-color: rgb(102, 255, 0);
  }

  .education-tab-content.active-tab-content {
    display: flex; /* Display only the active tab content */
    height: 100%;
    width: 100%;
    flex-direction: row;
    align-items: center;

    gap: 20px;
  }

  .school-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    width: 170px;
    height: 210px;
    font-size: 12px;
    padding-top: 20px;
  }

  .logo-img {
    background: url("cnhs_logo-01.png") no-repeat;
    background-color: rgb(245, 245, 245);
    border-radius: 14px;
    background-position: center;
    background-size: cover;
    height: 80px;
    width: 80px;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
  }

  .logo-hover {
    background: linear-gradient(to bottom, #87ceeb, #1e90ff);

    border-radius: 14px;

    height: 0;
    width: 110px;
    position: absolute;
    display: flex;
    transition: 0.6s;
  }

  .logo-img:hover {
    transform: scale(1.1);
  }

  .schl-heading {
    padding-top: 10px;
    color: #3593ff;
    font-size: 12px;
    height: 50px;
    text-align: center;
  }

  .schl-subheading {
    font-style: italic;

    font-size: 12px;
  }

  .jrmsu-logo-container {
    background: url("jrmsuk_logo-01.png") no-repeat;
    background-color: rgb(245, 245, 245);
    border-radius: 14px;
    background-position: center;
    background-size: cover;
    height: 80px;
    width: 80px;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
  }

  .logo-img,
  .jrmsu-logo-container {
    transition: transform 0.5s, opacity 0.5s; /* Add transition for smoother animation */
  }

  .logo-img:hover,
  .jrmsu-logo-container:hover {
    transform: scale(1.1); /* Scale up the size on hover */
    opacity: 0.9; /* Reduce opacity on hover */
  }

  /*end-of-about-tab-portion*/

  #services {
    padding: 40px;
    padding-top: 65px;

    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .services-container {
    height: 100%;
    width: 100%;

    border-radius: 12px;
    color: #b3b3b3;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .services-heading {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    padding-top: 20px;
    font-size: 42px;
    font-weight: 600;
    justify-content: center;
  }

  .services-content {
    width: 100%;
    height: 170vh;

    padding: 0;
    padding-top: 5vh;
    display: flex;
    align-items: center;
  }

  .services-card-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  .services-cards {
    height: 45vh;
    width: 100%;
  }

  .services-card-heading {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 600;
    color: #3593ff;
  }

  .services-card-down {
    font-size: 14px !important;
  }

  .services-icon-container {
    width: 30%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }

  /*portfolio*/

  #portfolio {
    padding: 40px;
    padding-top: 80px;

    width: 100%;
    height: 270vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .portfolio-container {
    height: 100%;
    width: 100%;

    border-radius: 12px;
    color: #b3b3b3;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .portfolio-heading {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    padding-top: 20px;
    font-size: 42px;
    font-weight: 600;
    justify-content: center;
  }

  .portfolio-content {
    width: 100%;
    height: 100%;

    padding: 0;
    display: flex;
    align-items: center;
    padding-top: 40px;
  }

  .portfolio-card-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
  }

  .portfolio-row {
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  .first-row {
    display: flex;
  }

  .portfolio-cards {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding: 0 0 0 0;
    border-radius: 10px;
    height: 49%;
    width: 100%;
    padding: 20px;
    overflow: hidden;
  }

  .portfolio-image-container {
    width: 100%;
    height: 70%;

    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }

  .portfolio-card-text {
    height: 30%;
    width: 100%;
  }

  .portfolio-card-text-heading {
    font-size: 18   px !important;
  }
  .portfolio-card-text-sub {
    font-size: 14px !important;
  }

  /*portfolio end*/

  /*contact section*/

  #contact {
    padding: 40px 40px 0px 40px;

    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .contact-container {
    height: 100%;
    width: 100%;

    border-radius: 10px;
    color: #b3b3b3;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: end;
  }

  .contact-heading {
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    padding-top: 20px;
    font-size: 42px;
    font-weight: 600;
    justify-content: center;
    color: #3593ff;
    background-color: #2b2b2b00;
  }

  .contact-heading ion-icon {
    color: #3593ff;
    font-size: 26px;
    margin-right: 10px;
  }

  .contact-content {
    width: 100%;
    height: 60vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #444444;
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contact-content-left {
    height: 10%;
    width: 100%;
    padding: 4vh 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .contact-content-right {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px;
    display: block;
    height: 100%;
    width: 100%;
    max-width: 100%; /* Adjust as needed */
    margin: 0 auto; /* Center align */
    padding: 3vh 3vh 0 3vh;
  }

  .contact-content-right label {
    color: #fff;
    margin-bottom: 5px;
  }

  .contact-content-right input[type="email"],
  .contact-content-right textarea {
    outline: none;
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    color: #242323;
  }

  .contact-content-right textarea {
    resize: vertical; /* Allow vertical resizing */
  }

  .contact-content-right button[type="submit"] {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .contact-content-right button[type="submit"]:hover {
    background-color: #45a049;
  }

  footer {
    margin-top: 10px;
    font-size: 12px;
    color: rgb(161, 161, 161);
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px;
  }

  .contact-content-left .h3 {
    font-size: 0;

    align-items: center;
    justify-content: space-between;

    color: #fff;
  }

  .contact-content-left a {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
  }

  .contact-content-left ion-icon {
    color: #e0e0e0;
    display: block;
    font-size: 32px;
    margin-right: 10px;
  }

  .contact-content-divider {
    height: 1px;
    width: 80%;
    background: none;
  }

  /*contact end*/
}

@media screen and (max-width: 430px) {
  /*homepage*/
  #home {
    background: url("bg-gapol-transpa-01.png") no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 105vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-items: center;
  }

  .home-container {
    height: 110vh;
    width: 100%;
    color: #b3b3b3;
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5%;
  }

  .home-image-container {
    width: 100% !important;
    height: 67%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    gap: 15px;
  }

  .home-text-container {
    width: 100% !important;
    height: 67%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: start;
  }

  .home-image-container img {
    width: 45% !important;
    height: 47% !important;

    object-fit: cover;
    object-position: center;
    transition: 0.6s;
    cursor: pointer;
  }

  .home-text-content-heading {
    font-size: 30px !important;
    font-weight: 600;
    width: 100%;
  }

  .home-text-content-subheading {
    font-size: 20px;
    width: 100%;
    color: #3593ff;
  }

  .home-text-content-heading span {
    color: #e0e0e0;
  }

  .home-text-content-intro-text {
    margin-top: 10px;
    font-size: 16px;
    color: #b3b3b3;
    width: 100%;
  }

  .home-content-buttons {
    margin-top: 4vh;
    width: 100%;
    height: 5vh;
  }

  .home-buttons-label {
    color: #0f0f0f;
  }

  .home-content-buttons button {
    width: 100%;
    height: 100%;
    color: #121212;
    font-size: 16px;
    border: none;
    font-weight: 600;
    cursor: pointer;
  }

  .home-content-buttons .btn2 {
    background-color: transparent;
    border: 2px solid #3593ff;
    color: #1a1a1a;
    background-color: #3593ff;
    transition: opacity all ease 0.6s;
  }

  .home-content-buttons .btn2:hover {
    opacity: 0.6;
  }

  /*about content*/
  /*about*/

  .about-container {
    margin-top: 3vh;
    height: 95%;
    width: 100%;

    border-radius: 12px;
    color: #b3b3b3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }

  .about-image-section {
    height: 40%;
    width: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 12px;
  }

  .about-text-section {
    width: 100%;
    height: 58%;
  }

  .about-heading {
    font-size: 32px;
    font-weight: 600;
    width: 100%;
  }

  .about-subheading {
    font-size: 12px;
  }
  /*aboout content end*/
}

/*mediaquery 375 end*/
